# Set this to 1 to use a temporary sqlite DB (Only for development)
USE_SQLITE=0
# The apikey header all workers must use to be able to pop jobs
FEDIVERSE_SAFETY_WORKER_AUTH='abcdfeg123456'
# Where to store the images being checked temporarily
FEDIVERSE_SAFETY_IMGDIR='/tmp/images'
# Your postgres connection URI
POSTGRES_URI="postgresql://pictrsafety:ThatSecretPGSQLPass@127.0.0.1/pictrsafety"
# set the strings which will specify authorized pict-rs clients.
# Make sure the pict-rs client is using this string at their URL
# e.g. 'http://localhost:14051/api/v1/scan/__WELCOME_IN__'
# Note that the 'IPADDR' is reserved (see KNOWN_PICTRS_IPS below)
KNOWN_PICTRS_IDS='["__WELCOME_IN__"]'
# Use the special URL 'http://localhost:14051/api/v1/scan/IPADDR' to use IP address-based authentication
# Then set the allowed IPs below
# You do not need to add 'IPADDR' to KNOWN_PICTRS_IDS above as it's built-in
# Note than 127.0.0.1 is always allowed.
KNOWN_PICTRS_IPS='["192.168.0.1"]'